/* Untuk Tablet */


@media all and (max-width: 1000px) {
  /* body1 */
  .regist-form {
    margin: 0 auto;
  }

  /* body2 */
  .b2main {
    width: 100%;
    justify-content: center;
  }

  .center{
    scale:50%;
  }

  /* Footer Section */
  footer .container {
    flex-wrap: nowrap;
  }

  .social-media ul {
    flex-wrap: wrap;
    /* justify-content: center; */
  }

}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
header .container{
  height:90px
}




  /* navbar */
  .header-right{
    float:none;
    display: flex;
    margin-left:-10px;
    justify-content: center;
  }

  .header-right2 {
    display: none;
  }

  .header-left {
    display: flex;
    float:none;
    justify-content: center;
    margin-left: -20px;
  }
  .navbar{
    scale:0%;
  }

  .menu-icon {
    display: block;
  }

  /* body1 */
  .regist-form {
    margin: 0 auto;
  }

  /* body2 */
  .b2main {
    width: 100%;
    justify-content: center;
  }
 /* .btn-wrapper{
    width:30%;
  }*/



  /* Footer Section */
  footer .container {
    flex-direction: column;
  }
  /* END Footer Section */
}
